<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="CardLink"
    version="1.0.0">
    <name>CardLink</name>
    <description>CardLink Integration</description>
    <license>MIT</license>
    <keywords>cardlink,plugin,cordova</keywords>

    <js-module src="www/CardLink.js" name="CardLink">
        <runs/>
        <clobbers target="CardLink" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CardLink">
                <param name="ios-package" value="CardLink" onload="true"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CardLink.h" />
        <source-file src="src/ios/CardLink.m" />
        <source-file src="src/ios/WebSocketClient.m" />
        <source-file src="src/ios/WebSocketClientManager.m" />
        
    </platform>
</plugin>