<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="CardLink"
        version="1.0.0">
    <name>CardLink</name>
    <description>CardLink Integration</description>
    <license>MIT</license>
    <keywords>cardlink,plugin,cordova</keywords>

    <!-- JS Module Definition -->
    <js-module src="www/CardLink.js" name="CardLink">
        <clobbers target="CardLink" />
    </js-module>

    <!-- iOS Platform Configuration -->
    <platform name="ios">
        <config-file target="config.xml" parent="/plist"> <!-- Correct parent node for iOS config -->
            <feature name="CardLink">
                <param name="ios-package" value="CardLink" onload="true" />
            </feature>
        </config-file>

        <!-- CocoaPods Specification -->
        <pods use-frameworks="true">
            <pod name="Starscream" spec="~> 4.0.0" /> <!-- Updated to use 'spec' for compatibility -->
        </pods>

        <framework src="Foundation.framework" />
        <preference name="UseSwiftLanguageVersion" value="5" />

        <!-- iOS Source Files -->
        <source-file src="src/ios/CardLink.swift" />
        <source-file src="src/ios/WebSocketClient.swift" />
        <source-file src="src/ios/WebSocketClientManager.swift" />
        <source-file src="src/ios/CardReaderManager.swift" />
        <source-file src="src/ios/Message.swift" />
        <source-file src="src/ios/NFCScannerController.swift" />
        <source-file src="src/ios/ScannerController.swift" />
        <source-file src="src/ios/ScannerEnvironmentExtensions.swift" />
        <source-file src="src/ios/ViewState.swift" />
    </platform>

    <!-- Android Platform Configuration -->
    <platform name="android">
        <config-file target="config.xml" parent="/widget"> <!-- Correct parent node for Android config -->
            <feature name="CardLink">
                <param name="android-package" value="com.appdinx.cardlink.CardLink" />
            </feature>
        </config-file>

        <!-- Android Permissions -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.NFC" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <!-- Android Dependencies -->
        <framework src="androidx.appcompat:appcompat:1.4.0" />
        <framework src="androidx.constraintlayout:constraintlayout:2.1.0" />
        <framework src="com.squareup.okhttp3:okhttp:4.9.1" />
        <framework src="com.github.nkzawa:socket.io-client:0.6.0" />

        <!-- Android Source Files -->
        <source-file src="src/android/CardLink.java" target-dir="src/com/appdinx/cardlink" />
        <source-file src="src/android/CardLinkStart.java" target-dir="src/com/appdinx/cardlink" />

        <!-- Gradle Dependencies -->
        <config-file target="app/build.gradle" parent="/dependencies"> <!-- Correct path to build.gradle -->
            <dependency>
                <groupId>androidx.core</groupId>
                <artifactId>core-ktx</artifactId>
                <version>1.7.0</version>
            </dependency>
        </config-file>
    </platform>
</plugin>
